
/* -------------------------------- 

CSS THEME SHOPPING SKIN

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	font-family: "Glegoo", "open sans", "Novencento", Helvetica, Arial;
}


textarea, select, input, button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    box-shadow: 0 0 4px rgb(187, 187, 187) inset;
}
input[type="submit"], button {
    background-color: rgb(204, 204, 204);
}
td {
    font-size: 11px;
}
h1 {
    font-size: 1.5em;
    margin: 0.4em 0;
}
h2 {
    font-size: 1.4em;
    margin: 0.3em 0;
}
h3 {
    font-size: 1.3em;
    margin: 0.2em 0;
}
h4 {
    font-size: 1.2em;
    margin: 0.2em 0;
}
h5 {
    font-size: 1.1em;
    margin: 0.2em 0;
}
h6 {
    font-size: 1em;
    margin: 0.2em 0;
}
a img {
    border: 0 none;
}
a:link {
    color: rgb(0, 51, 153);
}
a:visited {
    color: rgb(0, 51, 153);
}
a:hover {
    color: rgb(0, 102, 0);
    text-decoration: none;
}
hr.clear {
    clear: both;
    visibility: hidden;
}


body {
  font-size: 100%;
  color: #3e585f;
  background-color: rgb(255, 255, 255);
  font-family: Verdana,Arial;
  font-size: 11px;
  margin: 0;
  padding: 0;


}




.clear{ 
	clear:both;
	
}

/*
.slider {
	width:90%;
	height:600px;
	margin:0 auto;
}
*/
.ws-title {
	margin-left:50px;
}

img {
  max-width: 100%;
}


/* Elements boutique, specifique theme_shopping */


.shopping-homepage-article {
	
	display:inline-block;
	width: 250px;
    margin:1em 3em;
    padding:.8em;
    vertical-align:top;
    text-align:center;
}

.shopping-homepage-article .crm-catalogitem-unitcost {
	display:none;
}




@media only screen and (max-width: 768px) and (max-height: 768px) {

  header h1 {
  	display:none;
  }
  
  .mobile{
  	line-height:20px;
  }
  
  .tabwidth{display:none;}
}

@media only screen and (min-width: 768px) {

   
  .mobile{
  	display:none;
  }
  
  .tabwidth{display:block;}
}

@media only screen and (min-width: 1024px) {

    header h1 {
    font-size: 1.625rem;
    line-height: 26px;
    margin: 1em auto;
    display:inline-block;
  }
  
  .tabwidth{display:none;}
  
}



.bab_content {
	
	border-bottom:#ccc 2px solid;
	padding:1em .8em 3em .8em;
}


footer {
	margin-top:0;
	background: radial-gradient(#fff, #ddd);
	box-shadow: 0px 10px 10px #999;
}




footer .column {
	width:300px;
	margin:3em 2em;
	display:inline-block;
	vertical-align:top;
}

footer a {
	text-decoration:none;
	color:#111 !important;
}

footer a:hover {
	
	text-decoration:underline;
}

footer #adminSite {
	position:absolute;
	top:0;
}

footer #adminSite a{
		display:block;
		margin:0 auto;
		width:16px;
	    text-align: center;
   		width: 100px;	
}



/********************************************************************************************/
/***************************************SITE MAP ROOT****************************************/
/********************************************************************************************/

.mainmenu .sitemap-menu-root {
    background: rgb(34, 34, 34) none repeat scroll 0 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    width: 100%;
}
.mainmenu .sitemap-menu-root > li {
    border-right: 1px solid rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 4px 18px 4px 18px;
    position: relative;
}

.mainmenu .sitemap-menu-root > li > span,
.mainmenu .sitemap-menu-root > li > a {
	font-weight:bold;
	font-size:1.3em;
}

.mainmenu .sitemap-menu-root > li > span, 
.mainmenu .sitemap-menu-root > li > a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
.mainmenu .sitemap-menu-root > li.activetarget {
    background-color: rgb(0, 0, 0);
}
.mainmenu .sitemap-menu-root ul {
    background: rgb(255, 255, 255) url("../images/iconbg.png") repeat-y scroll left top;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0 rgb(101, 101, 101);
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 2px;
    position: absolute;
}
.mainmenu .sitemap-menu-root ul li {
    margin: 0;
    padding: 0;
    position: relative;
}
.mainmenu .sitemap-menu-root ul li.sitemap-folder {
    background-image: url("../images/arrow_right.gif") !important;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}
.mainmenu .sitemap-menu-root li > ul {
    top: 32px;
}
.mainmenu .sitemap-menu-root li > ul ul {
    left: 0;
    margin-left: 100%;
    top: 0;
}
.mainmenu .sitemap-menu-root > li:nth-child(n+5) > ul ul {
    left: auto;
    margin-right: 100%;
    right: 0;
}
.mainmenu .sitemap-menu-root ul li, 
.mainmenu .sitemap-menu-root ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.mainmenu .sitemap-menu-root ul li > a, 
.mainmenu .sitemap-menu-root ul li > span {
    display: block;
    max-width: 300px;
    min-width: 180px;
    padding: 0.8em 1em 0.8em 1em;

}
.mainmenu .sitemap-menu-root ul li:hover {
    background-color: rgb(238, 238, 238);
}
.mainmenu .sitemap-menu-root ul, 
.mainmenu .sitemap-menu-root ul > li > ul, 
.mainmenu .sitemap-menu-root ul > li > ul > li > ul {
    display: none;
}
.mainmenu .sitemap-menu-root li:hover > ul, 
.mainmenu .sitemap-menu-root ul > li:hover > ul, 
.mainmenu .sitemap-menu-root ul > li > ul > li:hover > ul {
    display: block;
}

/* Shopping cart */


.shoppingcart {
	
	position:absolute;
	right:10px;
	width: 30em;
	top: 20px;
	color:#ccc;
	font-size:1.5em;
	text-align:right;
	
}

.shoppingcart a {
	
	color:#ccc;
	text-decoration:none;
}


/* Demo */

.demo {
	
	background:#e1e1e1;
	padding:.8em 3em;
	color:#000;
	margin:5em auto;
	width:60em;
}


.demo i {
	color:#6f91b8;
	display:inline-block;
	vertical-align:top;
	margin-top:.15em;
	
}

.demo .text {
	display:inline-block;
	vertical-align:top;
	margin-left:2em;
}


/********************************************************************************************/
/******************************************TITLE********************************************/
/********************************************************************************************/

header .head {
	padding:.5em 2em;
	background:#000;
	
	height:80px;
	margin-bottom:30px; /* place menu*/
}

header .head img {
	
	vertical-align:middle;
}


header .head h1 {
    color: #afbccb;
    font-family: "Trebuchet MS",Verdana,Arial;
    font-size: 4em;
    font-weight: bold;
    margin:0;
    padding:0;
}
h1.title {
    color: #5371ae;
    font-family: "Trebuchet MS",Verdana,Arial;
    font-size: 3em;
    padding-left: 25px;
}
h2.msgerror {
    color: rgb(255, 0, 0);
    font-family: Verdana,Arial;
    font-size: 2em;
    font-weight: bold;
    padding-left: 40px;
    padding-top:1em;
}

#ctx_menu {
    margin:45px 0 0 0;
    padding:0;
    list-style-type:none;
    height:20px;
    border-bottom:#b3b3b3 1px solid;
    }

#ctx_menu li {
    display:inline;
    }

#ctx_menu a:link,
#ctx_menu a:visited,
#ctx_menu span {
    display:block;
    float:left;
    padding:0 .8em 2px .8em;
    border-left:#b3b3b3 1px solid;
    border-right:#b3b3b3 1px solid;
    border-top:#b3b3b3 1px solid;
    border-radius:3px 3px 0 0;
    margin-left:.5em;
    text-decoration:none;
    background: #eee;
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#ccc),
        to(#fff)
    );
    background: -webkit-linear-gradient(
        top,
        #ccc,
        #fff
    );
    background: -moz-linear-gradient(
        top,
        #ccc,
        #fff
    );
    background: -o-linear-gradient(
        top,
        #ccc,
        #fff
    );
    background: linear-gradient(
        top,
        #ccc,
        #fff
    );
    color:#444;
    font-size:12px;
    height:19px;
    }

#ctx_menu a:hover {
    height:22px;
    position:relative;
    top:-3px;
    margin-bottom:-3px;
    }

#ctx_menu span {
    background:#fff;
    color:#000;
    height:22px;
    position:relative;
    top:-2px;
    margin-bottom:-4px;
    border-color:#929292;
    }


