<OFPutVar name="babHtmlEntities" value="1">
<OFPutVar name="babSkin">
<OFPutVar name="babLanguage">

	
<div id="owl-example" class="owl-carousel">
    <div class="slider"><img src="<OFGetSelectedSkinPath>/images/slider/champ-de-ble-automne.jpg" alt="pic1"/></div>
    <div class="slider"><img src="<OFGetSelectedSkinPath>/images/slider/coucher-de-soleil-sur-route2.jpg" alt="pic2"/></div>
    <div class="slider"><img src="<OFGetSelectedSkinPath>/images/slider/route-de-campagne.jpg" alt="pic3"/></div>
</div>





<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#owl-example").owlCarousel({
         
        navigation : false, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 800,
        singleItem: true,
        autoPlay : true
    });
});
</script>



<OCCrmArticle crm="Shopping" type="homepage" limit="8" random="0" template="shopcardframe">
    <div class="shopping-homepage-article">
    <OVArticleDisplay htmlentities="0">
    </div>
</OCCrmArticle>


<div class="demo">

    <i class="fa fa-info-circle fa-5x"></i>

    <div class="text">
	    <h2>Site de d&eacute;mo</h2>
	
	    <p>Identifiant de test : <strong>manager@example.com</strong><br />
	    mot de passe : <strong>secret</strong>
	    </p>
	    
	    <p>Pour effectuer des paiements, la carte bancaire de test peut &ecirc;tre utilis&eacute;e.<br />
	    code : <strong>1111222233334444</strong><br />
	    cryptograme visuel : <strong>123</strong><br />
	    La date de fin de validit&eacute; de la carte peut &ecirc;tre nimporte quelle date dans le futur.</p>
    </div>
</div>